name: Docker Demo

on:
  push:
    branches:
      - main

jobs:
  docker_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build Docker Image
        run: docker build -t my-node-app .

  docker_run:
    needs: docker_build
    runs-on: ubuntu-latest

    steps:
      - name: Run Docker Container
        run: docker run -p 3000:3000 my-node-app
